.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 2vh;
}

.rating input[type="radio"] {
  display: none;
}

.star {
  cursor: pointer;
  transition: color 200ms;
}

.chatbotfaq {
  color: #56a5eb;
}

.review {
  min-height: 50vh;
}

.btn-outline-primary {
  position: absolute;
  right: 48%;
  color: #ecf5ff;
}

